html, body {
    margin: 0;
  }
  
  html {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
  }
  
  body {
    overflow: hidden;
    background: black;
  }
  
  h1 {
    font-size: 2rem;
    letter-spacing: -1px;
    position: absolute;
    margin: 0;
    top: -4px;
    color: white;
  }
  p {
    font-size: 1rem;
    letter-spacing: -1px;
    position: absolute;
    margin: 0;
    top: 30px;
    color: white;
  }